@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

section
{
    position: relative;
    min-height: 100vh;
    background: #444444;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

section  .container
{
    position: relative;
    width: 800px;
    height: 500px;
    background:#fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0,0.1);
    overflow: hidden;
}

section .container .user 
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgbox
{
    position: relative;
    width:50%;
    height: 100%;
    background:#DA0037;
    transition: 0.5s;
}

section .container .user .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formbox
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .container .user .formbox form h2
{   
    margin-top: 50px;

    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;

    text-align:center;
    width:100%;
    margin-bottom: 10px;

    color: #DA0037;
}

section .container .user .formbox form input  
{
    position:relative;
    width: 100%;
    padding:10px;

    background:#EDEDED;
    color:#DA0037;
    
    border: none;
    outline:none;
    box-shadow: none;
    margin:8px 0;

    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 14px;
}

section .container .user .formbox form .login 
{
    position:relative;
    width: 100%;
    padding: 10px;
    
    border: none;
    outline: none;
    box-shadow: none;
    

    margin: 8px 0;
    max-width: 100px;

    background: #DA0037;
    color:#fff;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .container .user .formbox form .login:hover
{
    opacity: 60%;
    transition: 0.5s;
}

section .container .user  .formbox form  p
{
    font-size: 20px;
    font-weight: 500;
    color:#DA0037
}

section .container .user .formbox form p a
{   
    text-decoration: none;
}

section .container .user .formbox form p a:hover
{
    opacity: 50%;
}

section .container .user .formbox form  footer p
{   
    margin-top: 50px;
    
    font-size:14px ;
    font-weight:300;
    letter-spacing: 1pxs;
}

section .container .user .formbox form .signup
{   
    position: relative;
    margin-top: 20px;
    
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    color:#DA0037;
}

section .container .user .formbox form a 
{
    font-weight: 600;

    text-decoration: none;

    color: #DA0037;
}

section .container .signUp
{
    pointer-events: none;
}

section .container.hide .signUp
{
    pointer-events: initial;
}


/* Overlap Effect between containers */
section .container .signUp .formbox
{
    left: 100%;
}

section .container.hide .signUp .formbox
{
    left:0;
}

section .container .signUp .imgbox
{
    left: 100%;
}

section .container.hide .signUp .imgbox
{
    left: 0;
}

section .container .signIn .formbox
{
    left: 0;
}

section .container.hide .signIn .formbox
{
    left: 100%;
}

section .container .signIn .imgbox
{
    left:0;
}

section .container.hide .signIn .imgbox
{
    left: -100%;
}